<h1>Simple note taking for...</h1>

<app-slideshow></app-slideshow>

<h2>Example notes</h2>

<div class="flex-container">
  <mat-card class="welcome-mat-card">
    <div class="centered-text">
      <i> Jozsef B. </i>
    </div>
    <br />
    <b> Favorite code snippet </b>
    <br />
    <br />
    while (!false && true)
    <br />
    {{ '{' }}
    <br />
    Console.WriteLine("Code all day.");
    <br />
    {{ '}' }}
    <br /><br />
  </mat-card>

  <mat-card class="welcome-mat-card">
    <div class="centered-text">
      <i> Adel B. </i>
    </div>
    <br />
    <b> Interviewing Bill Gates</b>
    <br />
    <br />
    - Appointment at 13:00.
    <br />
    - Ask him about dropping out of college.
    <br />
    - Make him invert a binary tree.
    <br /><br />
  </mat-card>

  <mat-card class="welcome-mat-card">
    <div class="centered-text">
      <i> Katalin K. </i>
    </div>
    <br />
    <b> For all lectures </b>
    <br />
    <br />
    - Don't give everybody an F.
    <br />
    - Teach all the things.<br /><br />
  </mat-card>

  <mat-card class="welcome-mat-card">
    <div class="centered-text">
      <i> Daniel H. </i>
    </div>
    <br />
    <b> Keep in mind </b>
    <br />
    <br />
    - Do not run all the red lights!
    <br />
    - Do not escape from police!
    <br />
    - Do not eat customers' food!<br /><br />
  </mat-card>
</div>

<h2>Some statistics</h2>

<div class="flex-container">
  <mat-card class="statistic-card">
    <br />
    <span class="statistic-number">{{ stats?.users }}</span>
    <br />
    users
  </mat-card>

  <mat-card class="statistic-card">
    <br />
    <span class="statistic-number">{{ stats?.notes }}</span>
    <br />
    notes
  </mat-card>
</div>

<h2>The creators</h2>

<div class="flex-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Jozsef Biro</mat-card-title>
      <mat-card-subtitle>C# developer</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="assets/jozsef-biro.jpg"
      alt="Photo of a Jozsef Biro"
      loading="lazy"
    />
    <mat-card-content> Loves creating desktop applications. </mat-card-content>
    <mat-card-actions>
      <a
        mat-button
        rel="noreferrer noopener nofollow"
        href="https://github.com/bjozsef02"
        target="_blank"
      >
        GITHUB
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Daniel Harka</mat-card-title>
      <mat-card-subtitle>JavaScript developer</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://harka.com/img/daniel-harka.jpg"
      alt="Photo of a Daniel Harka"
      loading="lazy"
    />
    <mat-card-content> Loves creating web applications. </mat-card-content>
    <mat-card-actions>
      <a
        mat-button
        rel="noreferrer noopener nofollow"
        href="https://gitlab.com/users/MrDanielHarka/groups"
        target="_blank"
      >
        GITLAB
      </a>
      <a mat-button href="https://daniel.harka.com" target="_blank">
        WEBSITE
      </a>
    </mat-card-actions>
  </mat-card>
</div>

<h2>Other stuff</h2>

<mat-card class="other-stuff">
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><a
        rel="noreferrer noopener nofollow"
        href="https://gitlab.com/harka-portfolio/note-app"
        target="_blank"
        >Documentation</a
      >
    </mat-list-item>
    <mat-list-item role="listitem"
      ><a rel="noreferrer noopener nofollow" href="note-app.exe" download
        >Desktop App download</a
      ></mat-list-item
    >
    <mat-list-item role="listitem"
      ><a routerLink="/gdpr"> Privacy Policy & GDPR</a>
    </mat-list-item>
  </mat-list>
</mat-card>
